.funnel-chart-container {
  display: block;
  background-color: rgb(231, 231, 231);
  padding: 20px;
  width: 600px;
}

.funnel-chart-container > h5 {
  text-align: center;
  /* color: rgb(34, 34, 34); */
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.chart-legend {
  margin-top: -120px;
  display: block;
  float: right;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 10px;
  width: 170px;
  background-color: rgb(252, 252, 252);
}

.chart-legend > p {
  margin: 2px;
  /* color: rgb(34, 34, 34); */
}

.chart-legend > h5 {
  /* color: rgb(119, 119, 119); */
  font-size: 1rem;
  margin-bottom: 4px;
}

.chart-legend > p > svg {
  margin-right: 5px;
}

.circle-1 {
  color: #95db93;
}
.circle-2 {
  color: #93dbd5;
}
.circle-3 {
  color: #967ceb;
}
.circle-4 {
  color: #93aadb;
}

.header-placeholder {
  width: 50px;
}
