.login-container {
  background-color: rgb(252, 252, 252);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* height:500px; */
  padding-bottom: 200px;
  text-align: left;
  padding-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container > h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-top: 50px;
  font-weight: 400;
}

.form-container {
  display: flex;
  /* text-align: center; */
}

.form-container > form > h5 {
  margin-top: 30px;
}
.input-container {
  display: flex;
  margin: 0;
}

.input-container > p {
  text-align: left;
  flex: 1;
}

.input-container > input {
  border-radius: unset;
  flex: 2;
  width: 300px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.input-container > select {
  border-radius: unset;
  flex: 2;
  width: 300px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.form-container > form > button {
  margin-top: 5px;
  margin-left: 150px;
  border-radius: unset;
  border: unset;
  width: 100px;
  padding: 2px;
  font-size: 1.2rem;
  background-color: tomato;
}
